.leftProfile_wrapper{
    text-align: center;
}
/* .m_form_item{
    
} */
.m_form_item h2{
    padding-left: 10px;
    margin-top: 10px;
    color: #172578;
}
.button_opts{
    margin-top: 20px;
    display: flex;
}
.button_opts button:nth-child(n){
    margin-right: 30px;
}